.app-container {
    width: 100vw;
    height: 100vh;
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terminal-container {
    width: 90%;
    height: 90%;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}